.frame {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #22b27d;
    border-radius: 26px;
    height: 546px;
    overflow: hidden;
    width: 720px;
  }
  
  .frame .frame-wrapper {
    height: 439px;
    left: 62px;
    position: relative;
    width: 558px;
  }
  
  .frame .div {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 438px;
    left: 12px;
    position: relative;
    top: 51px;
    width: 558px;
  }
  
  .frame .div-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .frame .div-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .frame .div-4 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 329px;
  }
  
  .frame .icon {
    height: 13.33px;
    position: relative;
    width: 13.33px;
  }
  
  .frame .text-wrapper {
    color: #707070;
    font-family: "Test Calibre-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .p {
    align-self: stretch;
    color: #000000;
    font-family: "Libre Caslon Condensed-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    height: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-2 {
    align-self: stretch;
    color: #000000;
    font-family: "Test Calibre-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .frame .team-brainstorming {
    height: 310px;
    margin-top: -15px;
    position: relative;
    width: 310px;
  }
  
  .frame .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    margin-top: -16px;
    position: relative;
  }
  
  .frame .div-wrapper-2 {
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 46px;
    justify-content: center;
    padding: 13px;
    position: relative;
  }
  
  .frame .text-wrapper-3 {
    color: #ffffff;
    font-family: "Test Calibre-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.50px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  

  .macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-air .div {
    background-color: #ffffff;
    width: 1280px;
    height: 2172px;
    position: relative;
}

.macbook-air .core-google-chrome {
    position: absolute;
    width: 1280px;
    height: 79px;
    top: 0;
    left: 0;
}

.macbook-air .tabs-bar {
    position: absolute;
    width: 1280px;
    height: 42px;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgb(223, 225, 229) 0.6%,
        rgb(223, 225, 229) 99.4%
    );
}

.macbook-air .new-tab-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 19px;
    left: 334px;
}

.macbook-air .core-traffic-lights {
    position: absolute;
    width: 52px;
    height: 12px;
    top: 16px;
    left: 13px;
}

.macbook-air .tab {
    position: absolute;
    width: 256px;
    height: 34px;
    top: 8px;
    left: 70px;
    background-image: url(./img/tab.svg);
    background-size: 100% 100%;
}

.macbook-air .tab-title {
    position: absolute;
    width: 177px;
    height: 20px;
    top: 7px;
    left: 44px;
}

.macbook-air .tab-close-icon {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 13px;
    left: 228px;
}

.macbook-air .screenshot {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 8px;
    left: 19px;
}

.macbook-air .toolbar {
    position: absolute;
    width: 1280px;
    height: 37px;
    top: 42px;
    left: 0;
}

.macbook-air .overlap {
    position: relative;
    height: 37px;
}

.macbook-air .background {
    position: absolute;
    width: 1280px;
    height: 37px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.macbook-air .separator {
    position: relative;
    height: 1px;
    top: 36px;
    background-color: #b6b6b6;
}

.macbook-air .actions {
    position: absolute;
    width: 78px;
    height: 13px;
    top: 12px;
    left: 16px;
}

.macbook-air .address-bar {
    position: absolute;
    width: 1130px;
    height: 28px;
    top: 4px;
    left: 108px;
}

.macbook-air .overlap-group {
    position: relative;
    width: 1128px;
    height: 28px;
    background-color: #f1f3f4;
    border-radius: 14px;
}

.macbook-air .secure-icon {
    position: absolute;
    width: 8px;
    height: 10px;
    top: 9px;
    left: 14px;
}

.macbook-air .url {
    position: absolute;
    width: 1028px;
    height: 28px;
    top: 0;
    left: 34px;
    font-family: "SF Pro Text-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .text-wrapper {
    color: #767676;
}

.macbook-air .span {
    color: #202124;
}

.macbook-air .menu-icon {
    position: absolute;
    width: 3px;
    height: 13px;
    top: 12px;
    left: 1256px;
}

.macbook-air .frame {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 80px;
    align-items: flex-start;
    gap: 10px;
    padding: 19px 21px;
    position: absolute;
    top: 79px;
    left: 0;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e5e5e5;
}

.macbook-air .frame-2 {
    display: flex;
    width: 1221px;
    align-items: center;
    gap: 698px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .frame-3 {
    display: inline-flex;
    align-items: center;
    gap: 37px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .img {
    position: relative;
    width: 111px;
    height: 40px;
}

.macbook-air .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .union {
    position: relative;
    width: 8px;
    height: 5px;
}

.macbook-air .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .frame-7 {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .check-ring {
    position: relative;
    width: 20px;
    height: 20px;
}

.macbook-air .overlap-group-2 {
    position: relative;
    width: 17px;
    height: 17px;
    top: 2px;
    left: 2px;
}

.macbook-air .intersect {
    position: absolute;
    width: 15px;
    height: 9px;
    top: 7px;
    left: 1px;
}

.macbook-air .rectangle {
    position: absolute;
    width: 17px;
    height: 15px;
    top: 2px;
    left: 0;
}

.macbook-air .vector {
    position: absolute;
    width: 8px;
    height: 9px;
    top: 0;
    left: 4px;
}

.macbook-air .building-blocks {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #e9f7f2;
    border-radius: 100px;
    overflow: hidden;
}

.macbook-air .initial {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -1px;
    left: 0;
    font-family: var(--m3-title-medium-font-family);
    font-weight: var(--m3-title-medium-font-weight);
    color: #06925e;
    font-size: var(--m3-title-medium-font-size);
    text-align: center;
    letter-spacing: var(--m3-title-medium-letter-spacing);
    line-height: var(--m3-title-medium-line-height);
    font-style: var(--m3-title-medium-font-style);
}

.macbook-air .icon {
    position: absolute;
    width: 9px;
    height: 14px;
    top: -3752px;
    left: -3811px;
}

.macbook-air .frame-8 {
    display: flex;
    flex-direction: column;
    width: 1120px;
    align-items: flex-start;
    gap: 96px;
    position: absolute;
    top: 206px;
    left: 80px;
}

.macbook-air .frame-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 96px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .frame-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .frame-wrapper {
    position: relative;
    width: 720px;
    height: 592px;
    background-color: #ffffff;
    border-radius: 26px;
    overflow: hidden;
    border: 1px solid;
    border-color: #22b27d;
}

.macbook-air .div-wrapper {
    position: relative;
    width: 558px;
    height: 439px;
    left: 62px;
}

.macbook-air .frame-11 {
    display: flex;
    flex-direction: column;
    width: 558px;
    height: 438px;
    align-items: flex-end;
    position: relative;
    top: 51px;
    left: 12px;
}

.macbook-air .frame-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -19.00px;
}

.macbook-air .frame-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .frame-14 {
    display: flex;
    width: 329px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .icon-2 {
    position: relative;
    width: 13.33px;
    height: 13.33px;
    margin-top: -3972.00px;
    margin-left: -4405.00px;
}

.macbook-air .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #707070;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.16px;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .p {
    position: relative;
    align-self: stretch;
    font-family: "Libre Caslon Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .you-re-a-versatile {
    position: relative;
    align-self: stretch;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .startup {
    position: relative;
    width: 310px;
    height: 310px;
}

.macbook-air .frame-15 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -49.00px;
    margin-top: -16px;
}

.macbook-air .frame-16 {
    display: inline-flex;
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    position: relative;
    flex: 0 0 auto;
    background-color: #000000;
    border-radius: 8px;
}

.macbook-air .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .frame-17 {
    display: flex;
    flex-direction: column;
    height: 103px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 24px 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e5e5;
    box-shadow: 0px 1px 3px 1px #0000001a, 0px 1px 2px #0000000d;
}

.macbook-air .frame-18 {
    display: inline-flex;
    align-items: center;
    gap: 192px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -7.00px;
    margin-bottom: -7.00px;
}

.macbook-air .lightning-fill {
    position: relative;
    width: 31.68px;
    height: 31.68px;
}

.macbook-air .frame-19 {
    display: flex;
    flex-direction: column;
    width: 540px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.macbook-air .not-sure-get {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: normal;
}

.macbook-air .text-wrapper-5 {
    font-weight: 500;
    letter-spacing: -0.03px;
}

.macbook-air .text-wrapper-6 {
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: -0.03px;
}

.macbook-air .text-wrapper-7 {
    position: relative;
    width: 617px;
    margin-right: -77.00px;
    font-family: "Test Calibre-Regular", Helvetica;
    font-weight: 400;
    color: #707070;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: normal;
}

.macbook-air .frame-20 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .frame-21 {
    display: inline-flex;
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.macbook-air .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .frame-22 {
    border: 1px solid;
    border-color: #e5e5e5;
    display: inline-flex;
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.macbook-air .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .frame-23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .text-wrapper-10 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Libre Caslon Condensed-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .frame-24 {
    display: flex;
    align-items: flex-start;
    gap: 75px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .frame-25 {
    display: flex;
    flex-direction: column;
    width: 323px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.macbook-air .frame-26 {
    display: inline-flex;
    align-items: flex-end;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .text-wrapper-12 {
    position: relative;
    align-self: stretch;
    font-family: "Test Calibre-Regular", Helvetica;
    font-weight: 400;
    color: #707070;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: normal;
}

.macbook-air .frame-27 {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.macbook-air .frame-28 {
    display: flex;
    flex-direction: column;
    width: 327px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.macbook-air .frame-29 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    height: 20px;
    margin-top: -1.00px;
    font-family: "Test Calibre-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .frame-30 {
    display: flex;
    align-items: center;
    gap: 71px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.macbook-air .stacked-card {
    display: flex;
    width: 323.68px;
    height: 411.79px;
    align-items: flex-start;
    position: relative;
    border-radius: 10.79px;
}

.macbook-air .content {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 411.79px;
    z-index: 1;
    border-radius: 10.79px;
    overflow: hidden;
    border: 0.9px solid;
    border-color: var(--m3syslightoutline-variant);
}

.macbook-air .media-text-content {
    display: flex;
    flex-direction: column;
    width: 323.68px;
    height: 411.79px;
    align-items: center;
    position: relative;
    background-color: #ffffff;
}

.macbook-air .screenshot-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 411.79px;
}

.macbook-air .background-2 {
    position: absolute;
    width: 324px;
    height: 357px;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--m-3syslightsurface);
    border-radius: 10.79px;
    border: 0.9px solid;
    border-color: var(--m3syslightoutline-variant);
}

.macbook-air .screenshot-3 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 410.89px;
    object-fit: cover;
}

.macbook-air .screenshot-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 411.79px;
    object-fit: cover;
}

.macbook-air .screenshot-5 {
    position: absolute;
    width: 1280px;
    height: 317px;
    top: 1855px;
    left: 0;
    object-fit: cover;
}
.footer {
    width: 100%;
    margin-top: 40px; /* Adds spacing between the footer and the preceding content */
    text-align: center;
}

.footer-image {
    max-width: 100%; /* Ensures the image scales within the viewport */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Centers the image */
    margin: 0 auto; /* Ensures horizontal centering */
}